//-

    Copyright 2017 Emil Hemdal (https://emil.hemdal.se/) and 
    Datateknologsektionen Chalmers Studentkår (https://www.dtek.se/)

    This file is part of tv.dtek.se.

    tv.dtek.se is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    tv.dtek.se is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with tv.dtek.se.  If not, see <http://www.gnu.org/licenses/>.


doctype html
html
    head
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        title Dtek - TV
    body
        h1 Dtek - TV service
        p You are not authorized to use this application!
